* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #939393;
  font-size: 18px;
  font-weight: 400;
  color: #939393;
  line-height: 1.65em;
  height:100%;
  background:#fff;
  margin:0;
  padding:0;
}

h1 {
  font-size: 64px;
  font-weight: 300;
}

h2 {
  font-size: 52px;
  color: #515357;
}

h5 {
  color: #818181;
  font-size: 16px;
}

.white {
  color: #fff;
}

.centered {
  text-align: center;
}

.logo {
  position: absolute;
  top: 16px;

  img {
    width: 54px;
    height: auto;
  }
}

.container {
  position: relative;
  margin: 0 auto;
}

nav {
  opacity: 1;
  position: fixed;
  width: 100%;
  padding: 10px 30px;
  background: transparent;
  z-index: 10;
  transition: background .3s;
  white-space: nowrap;
  transition-duration: .3s,.6s;
  transition-property: background,opacity;

  ul {
    display: block;
    list-style-type: none;
  }
}

nav.main {
  display: inline-block;

  ul {
    line-height: 64px;
    margin: 0 0 0 44px;

    li {
      display: inline-block;
      margin: 0 20px;

      a {
        text-decoration: none;
        font-size: 19px;
        color: #fff;
        transition: color .3s;

        &:hover {
          color: #ccc;
        }
      }
    }
  }
}

nav.right {
  display: inline-block;
  float: right;

  .btn {
    background: none;
    border-color: #fff;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
    opacity: 0.9;
    font-size: 18px;
  }
}

nav.scrolled {
  background: #f7f7f7;
  ul.main li a {
    color: #818181;
  }
}

section {
  position: relative;
  overflow: hidden;
  padding: 150px 30px;
}

.section-footer {
  height: 60px;
  background: #f7f7f7;
}

section.main-image {
  background-image: url("main-img.jpg");
  height: 700px;
  background-size: cover;
  background-position: center;
}

section.one {
  padding-top: 210px;

  &:before {
    position: absolute;
    content: "";
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
  }

  h1 {
    margin-bottom: 26px;
    text-transform: capitalize;
  }

  .sub-header {
    font-size: 20px;
    font-weight: 300;
  }
}

section.two {
  background: #fff;
}

.feature-overview {
  margin-top: 50px;
  background: #f7f7f7;

  &:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
  }

  .feature {
    float: left;
    border-right: 2px solid #ebebeb;
    min-height: 200px;
    width: 20%;
    padding: 30px;

    img {
      width: 40%;
      height: autho;
    }
  }
}

section.three {
  background-image: linear-gradient(45deg, #00a1dc, rgba(0, 161, 220, 0.7));
}
