<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,700"
          rel="stylesheet"
          type="text/css">
    <link rel="stylesheet" type="text/css" href="assets/application.css">
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/1.4.14/jquery.scrollTo.min.js"></script>
    <script type="text/javascript" src="assets/application.js"></script>
  </head>

  <body>
    <header>
      <nav class="main">
        <a class="logo" href="">
          <img src="assets/company-logo.png" alt="">
        </a>
        <ul class="main">
          <li><a href="#our-tradecraft" class="what-we-do">What we do</a></li>
          <li><a href="#about-us" class="who-we-are">Who we are</a></li>
          <li><a href="" class="contact-us">Contact Us</a></li>
        </ul>
      </nav>
    </header>

    <section class="main">
      <div class="container centered">
        <h2 class="main">A complete solution to your data needs</h2>
      </div>
    </section>

    <section class="section-break">
      <div class="contact-us-banner">
        <span>Let us show you how we can help launch your product</span>
        <button class="button">Contact Us</button>
      </div>
    </section>

    <section class="our-tradecraft">
      <div class="container centered">
        <h1 class="">What we do</h1>
      </div>

      <div class="narrow-container">
        <div class="service">
          <span class="left text">
            <p>Web Applications</p>
            <p>We develop complete web applications with data processing at its core. This includes building data pipelines, architecting RDBMS / NoSQL backends, creating RESTful APIs and rich single-page front-ends.</p>
          </span>
          <span class="right image web"></span>
        </div>

        <div class="service">
          <span class="right text">
            <p>Custom Dashboards</p>
            <p>We build customized web dashboards so that you know exactly whats happening in your business. Integrate all your disparate business data in one beautifully crafted view that fits equally well in a large TV screen or your mobile device.</p>
          </span>
          <span class="left image analytics"></span>
        </div>

        <div class="service">
          <span class="left text">
            <p>Interactive Visualizations</p>
            <p>Sometimes you need to go beyond the standard charts in business dashboards to tell compelling visual stories. We also create one-off stand-alone information visualizations for such cases.</p>
          </span>
          <span class="right image dashboard"></span>
        </div>

        <!--div class="service">
          <span class="right text">
            <p>Cloud Deployment</p>
            <p>We deploy our solutions to a secure and scalable cloud infrastructure, so that you do not have to worry about scaling your application as you grow.</p>
          </span>
          <span class="left image cloud"></span>
        </div>
      </div-->
    </section>

    <section class="our-team">
      <div class="container centered">
        <h1 class="">Who we are</h1>
        <p class="justify">We are a group of expert software developers and data engineers with a penchant for building data-intensive web applications. Whether you are an early stage startup in need of extra developers, an existing business that wants to make informed decisions from its data or a non-profit looking to communicate its impact through compelling visualizations, we are here to help you.</p>
        <div class="people-involved">
          <div class="advised-by">
            <img src="assets/vinaya_profile_picture.jpg" class="profile">
            <p class="profile justify">
            <span class="bold">Vinaya L Shrestha</span> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.
            </p>
            <div class="links">
              <a href=""><img src="assets/twitter-24.png" border="0" alt="Twitter Profile"></a> 
              <a href=""><img src="assets/github-24.png" border="0" alt="Twitter Profile"></a> 
              <a href=""><img src="assets/linkedin-24.png" border="0" alt="Twitter Profile"></a> 
            </div>
          </div>
          <div class="advised-by">
            <img src="assets/saurav_profile_picture.jpg" class="profile">
            <p class="profile justify">
            <span class="bold">Saurav Dhungana</span> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.
            </p>
            <div class="links">
              <a href=""><img src="assets/twitter-24.png" border="0" alt="Twitter Profile"></a> 
              <a href=""><img src="assets/github-24.png" border="0" alt="Twitter Profile"></a> 
              <a href=""><img src="assets/linkedin-24.png" border="0" alt="Twitter Profile"></a> 
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="contact-us">
      <div class="container">
        <h1 class="">Contact Us</h1>
        <div class="form-container">
          <form class="contact-form">
            <div class="field">
              <label>Name</label>
              <input name="name" type="text" placeholder="Your Name"/>
            </div>
            <div class="field">
              <label>Email</label>
              <input name="email" type="text" placeholder="Your Email"/>
            </div>
            <div class="field">
              <label>Message</label>
              <textarea name="message" rows="10" placeholder="Your Message"></textarea>
            </div>
            <div class="actions right">
              <button class="button">Submit</button>
            </div>
          </form>
        </div>
        <div class="map-container">
          <span class="locations"></span>
          <p>You can also email us at: hello@atlas.com</p>
          <p>We have support teams in several time zones. We will respond within 12 hours. Thats a promise. </p>
        </div>
      </div>
    </section>

    <footer>
    </footer>
  </body>
</html>
