<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <link rel="stylesheet" type="text/css" href="assets/application.css">
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/1.4.14/jquery.scrollTo.min.js"></script>
    <script type="text/javascript" src="assets/application.js"></script>
  </head>

  <body id="">
    <nav>
      <div class="container" id="navigation">
        <a class="logo" href=""></a>
        <ul>
          <li><a href="#about-us" class="who-we-are">Who we are</a></li>
          <li><a href="#our-tradecraft" class="what-we-do">What we do</a></li>
          <li><a href="" class="contact-us">Contact Us</a></li>
        </ul>
        <a href="#" id="mobile-nav"><img src="img/menu-dark.png"></a>
      </div>
    </nav>

    <section class="one main-image">
      <div class="container centered">
        <h1 class="white">Everything you need <br> in an ATS and more</h1>
        <p>Mobilize your entire company with features that foster collaboration.</p>
      </div>
    </section>

    <section class="two">
      <div class="container centered">
        <h2 class="">Your data workflow</h2>
        <div class="feature-overview">
          <div class="feature">
            <img src="assets/search.png">
            <h5>Customizable Jobs Page</h5>
          </div>
          <div class="feature">
            <img src="assets/configure.png">
            <h5>Sourcing</h5>
          </div>
          <div class="feature">
            <img src="assets/audience.png">
            <h5>Pipeline Management</h5>
          </div>
          <div class="feature">
            <img src="assets/mail.png">
            <h5>Interviews and Feedback</h5>
          </div>
          <div class="feature">
            <img src="assets/report.png">
            <h5>Reports</h5>
          </div>
        </div>
      </div>
    </section>

    <section class="three">
      <div class="container centered">
        <h1 class="white">Features for everyone</h1>
        <p>Mobilize your entire company with features that foster collaboration.</p>
      </div>
    </section>

    <footer>
    </footer>
  </body>
</html>
