<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,700"
          rel="stylesheet"
          type="text/css">
    <link rel="stylesheet" type="text/css" href="assets/application.css">
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/1.4.14/jquery.scrollTo.min.js"></script>
    <script type="text/javascript" src="assets/application.js"></script>
  </head>

  <body>
    <header>
      <nav class="main">
        <a class="logo" href="">
          <img src="assets/company-logo.png" alt="">
        </a>
        <ul class="main">
          <li><a href="#about-us" class="who-we-are">Who we are</a></li>
          <li><a href="#our-tradecraft" class="what-we-do">What we do</a></li>
          <li><a href="blog" class="blog">Blog</a></li>
          <li><a href="" class="contact-us">Contact Us</a></li>
        </ul>
      </nav>
    </header>

    <section class="one main-image">
      <div class="container centered">
        <h2 class="main">Web, Cloud, DataViz & Big Data Consulting</h2>
      </div>
    </section>

    <section class="section-break">
      <div class="contact-us">
        <span>Let us show you how we can help launch your product</span>
        <button class="button">Contact Us</button>
      </div>
    </section>

    <section class="three">
      <div class="container centered">
        <h1 class="">Who we are</h1>
        <p>We are a group of expert software developers and data scientists who have worked with big tech companies, and now are looking to leverage our knowledge to help you.</p>
      </div>
    </section>

    <section class="three">
      <div class="container centered">
        <h1 class="">What we do</h1>
        <p>We are your companions, helping you solve your data problems.</p>
      </div>

      <div class="narrow-container">
        <div class="service">
          <span class="left text">
            <p>Web Application</p>
            <p>We develop beautifully crafted, data-heavy web applications.</p>
          </span>
          <span class="right image web"></span>
        </div>

        <div class="service">
          <span class="right text">
            <p>Data Analytics</p>
            <p>We build customized dashboards so that you can re-imagine your data in ways you never did before. Dig deeper and see what your data has to offer.</p>
          </span>
          <span class="left image analytics"></span>
        </div>

        <div class="service">
          <span class="left text">
            <p>Dashboard</p>
            <p>We build customized dashboards so that you can re-imagine your data in ways you never did before. Dig deeper and see what your data has to offer.</p>
          </span>
          <span class="right image dashboard"></span>
        </div>

        <div class="service">
          <span class="right text">
            <p>Infographics</p>
            <p>We build customized dashboards so that you can re-imagine your data in ways you never did before. Dig deeper and see what your data has to offer.</p>
          </span>
          <span class="left image infographic"></span>
        </div>

        <div class="service">
          <span class="left text">
            <p>Cloud Deployment</p>
            <p>We deploy our solutions to a secure and scalable cloud infrastructure, so that you do not have to worry about scaling your application as you grow.</p>
          </span>
          <span class="right image cloud"></span>
        </div>

        <div class="service">
          <span class="right text">
            </p>Multiple time-zone support</p>
            <p>We have support teams in several time zones. Even if you run into issues at wee hours, we've still got your back.</p>
          </span>
          <span class="left image location"></span>
        </div>
      </div>
    </section>

    <footer>
    </footer>
  </body>
</html>
